{{ partial "header.html" . }}
{{ $hacker_names := slice }}
{{ $unique_hacker_names := slice }}
{{ $morehacker_names := slice }}
{{ $unique_morehacker_names := slice }}
{{ range .Pages }}
  {{ $hacker_names = $hacker_names | append .Params.hacker }}
  {{ if .Params.morehackers }}
    {{ range .Params.morehackers }}
      {{ $nm := trim . " " }}
      {{ if ne $nm "" }}
        {{ $morehacker_names = $morehacker_names | append . }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}
{{ $unique_hacker_names = uniq (sort $hacker_names) }}
{{ $unique_morehacker_names = uniq (sort $morehacker_names) }}
{{ $name_of_tool := urlize .Data.Term }}

{{if not .IsHome }}
<center>
  <div class="card" style="position: relative;">
  {{ partial "share.html" . }}
  {{ $logoSVG := "" }}
  {{ $photopath := "" }}
  {{ range $ext := slice ".svg" ".jpg" ".png" ".jpeg" ".jfif" ".gif" }}
    {{ with resources.Get (path.Join "tool" (printf "%s%s" $name_of_tool $ext)) }}
      {{ if eq $ext ".svg" }}
        {{ $logoSVG = . }}
      {{ else }}
        {{ $photopath = .RelPermalink }}
      {{ end }}
      {{ break }}
    {{ end }}
  {{ end }}
  <div class="container">
  {{ if $logoSVG }}
    <span class="confphoto confphoto-svg no-invert{{ with .Params.logo_bg }} logo-bg-{{ . }}{{ end }}" aria-label="{{ .Title }} logo">{{ $logoSVG.Content | safeHTML }}</span>
    <br />
  {{ else if $photopath }}
    <img class="confphoto no-invert{{ with .Params.logo_bg }} logo-bg-{{ . }}{{ end }}" src="{{ $photopath }}" alt="{{ .Title }} logo">
    <br />
  {{ end }}
    <br />
    <h2><b>{{ .Title | markdownify | title }}</b></h2>
      <p>  
{{ partial "social.html" . }}
<br />
  {{ if .Params.hacker }}
      {{ $sorted_params_hacker := uniq (sort .Params.hacker "value" "asc" ) }}
      {{ if eq $sorted_params_hacker $unique_hacker_names }} 
        {{ range $unique_hacker_names }}
          <b><a href="/hacker/{{ . }}/">{{ replace (. | humanize | title) " 1" " " }}</a></b>&nbsp;
        {{ end }}
        {{ range $unique_morehacker_names }}
          <b><u>{{ replace (. | humanize | title) " 1" " " }}</u></b>&nbsp;
        {{ end }} 
      {{ else }}
        {{ range $sorted_params_hacker }}
          <b><a href="/hacker/{{ . }}/">{{ replace (. | humanize | title) " 1" " " }}</a></b>&nbsp;
        {{ end }} 
        <br />
        {{ range $unique_hacker_names }}
          <b><a href="/hacker/{{ . }}/">{{ replace (. | humanize | title) " 1" " " }}</a></b>&nbsp;
        {{ end }}
        {{ range $unique_morehacker_names }}
          <b><u>{{ replace (. | humanize | title) " 1" " " }}</u></b>&nbsp;
        {{ end }} 
      {{ end }}
  {{ else }}
      {{ range $unique_hacker_names }}
        <b><a href="/hacker/{{ . }}/">{{ replace (. | humanize | title) " 1" " " }}</a></b>&nbsp;
      {{ end }}
      {{ range $unique_morehacker_names }}
        <b><u>{{ replace (. | humanize | title) " 1" " " }}</u></b>&nbsp;
      {{ end }} 
  {{ end  }}
      </p>
  </div>
</div>
</center>
{{ end }}

{{ if .Params.github }}
<br />
<div>
{{ $reponame := split .Params.github "/" }}
<center>
<img src="https://flat.badgen.net/github/license/{{ index $reponame 3 }}/{{ index $reponame 4 }}" />
<img src="https://flat.badgen.net/github/last-commit/{{ index $reponame 3 }}/{{ index $reponame 4 }}" />
<img src="https://flat.badgen.net/github/release/{{ index $reponame 3 }}/{{ index $reponame 4 }}" />
<img src="https://flat.badgen.net/github/tag/{{ index $reponame 3 }}/{{ index $reponame 4 }}" />
<img src="https://flat.badgen.net/github/contributors/{{ index $reponame 3 }}/{{ index $reponame 4 }}" />
<img src="https://flat.badgen.net/github/commits/{{ index $reponame 3 }}/{{ index $reponame 4 }}" />
<img src="https://flat.badgen.net/github/stars/{{ index $reponame 3 }}/{{ index $reponame 4 }}" />

</center>
<br />
</div>

{{ end }}
{{ if .Params.gitlab }}
<br />
<div>
{{ $reponame := split .Params.gitlab "/" }}
<center>
  <img src="https://gitlab.com/{{ index $reponame 3 }}/{{ index $reponame 4 }}/-/badges/release.svg" />
</center>
<br />
</div>

{{ end }}

<div class="confcontent">
{{ .Content  }}
</div>
<div class="listing">
  <h2>List of Sessions</h2>
  <hr/>
  {{ partial "timeline-view.html" (dict "Pages" .Pages "Context" . "Style" "cards" "GroupByType" true "ShowConference" true "ShowHackers" true "ShowType" false) }}
</div>
{{ partial "footer.html" . }}
