{{ partial "header.html" . }}

{{ $hacker_names := slice }}
{{ $unique_hacker_names := slice }}
{{ range .Pages }}
  {{ $hacker_names = $hacker_names | append .Params.hacker }}
{{ end }}
{{ $unique_hacker_names = uniq (sort $hacker_names) }}
{{ $book_id := urlize .Params.print_isbn13 }}

{{ $img_link := slice }}


{{if not .IsHome }}
<center>
  <div class="card">
    {{ $img_loc := printf "%s.*" $book_id | printf "%s%s" "/book/" }}
    {{ with try ( resources.GetMatch $img_loc ) }}
      {{ with .Err }}
        <br />
        {{ .Params.Name }}
      {{ else }}
        {{ $img_link = .Value }}
      {{ end }}
    {{ end }}
    <div class="container">
      <br />
      <h2><b>{{ .Title | markdownify | title }}</b></h2>
      <br />
        <img src='{{ ($img_link.Resize "x300 q100").RelPermalink }}' />
      <p>
        {{ if .Params.hacker }}
          {{ $sorted_params_hacker := uniq (sort .Params.hacker "value" "asc" ) }}
          {{ if eq $sorted_params_hacker $unique_hacker_names }}
            {{ range $unique_hacker_names }}
              <b><a href="/hacker/{{ . }}/">{{ replace (. | humanize | title) " 1" " " }}</a></b>&nbsp;
            {{ end }}
          {{ else }}
            {{ range $sorted_params_hacker }}
              <b><a href="/hacker/{{ . }}/">{{ replace (. | humanize | title) " 1" " " }}</a></b>&nbsp;
            {{ end }}
            <br />
            {{ range $unique_hacker_names }}
              <b><a href="/hacker/{{ . }}/">{{ replace (. | humanize | title) " 1" " " }}</a></b>&nbsp;
            {{ end }}
          {{ end }}
        {{ else }}
          {{ range $unique_hacker_names }}
            <b><a href="/hacker/{{ . }}/">{{ replace (. | humanize | title) " 1" " " }}</a></b>&nbsp;
          {{ end }}
        {{ end }}
        <br />
        {{ partial "book.html" . }}
      </p>
    </div>
  </div>
</center>
{{ end }}

<div class="book-details-card">
  <div class="details-grid">
    <div class="detail-item">
      <div class="detail-text">
        <span class="detail-label">Published</span>
        <div class="detail-icon">📅</div>
        <span class="detail-value">{{ .Params.published_on }}</span>
      </div>
    </div>
    <div class="detail-item">
      <div class="detail-text">
        <span class="detail-label">ISBN-13</span>
        <div class="detail-icon">📘</div>
        <span class="detail-value">{{ .Params.print_isbn13 }}</span>
      </div>
    </div>
    <div class="detail-item">
      <div class="detail-text">
        <a href="{{ .Params.book_link }}" target="_blank">
          <span class="detail-label">Publisher</span>
          <div class="detail-icon">🏢</div>
          <span class="detail-value">{{ .Params.publisher }}</span>
        </a>
        </a>
      </div>
    </div>
    <div class="detail-item">
      <div class="detail-text">
        <span class="detail-label">Length</span>
        <div class="detail-icon">📏</div>
        <span class="detail-value">{{ .Params.length }} pages</span>
      </div>
    </div>
  </div>
</div>


<div class="bookcontent">
  {{ .Content }}
</div>

{{ partial "footer.html" . }} 