{{ $count := 1 }}
{{ $aggressive_check := "No" }}

{{/* Section Toggle Variables */}}
{{ $show_personal_details := "Yes" }}
{{ $show_presentation_details := "Yes" }}
{{ $show_book_details := "Yes" }}
{{ $show_tool_content := "Yes" }}

{{/* Define pages variable for use in multiple sections */}}
{{ $pages := .Site.RegularPages }}

{{/* Navigation Links */}}
<div class="nav-links">
  {{ if eq $show_personal_details "Yes" }}
    <a href="#personal-details">Personal Details</a>
  {{ end }}
  {{ if eq $show_presentation_details "Yes" }}
    <a href="#presentation-details">Presentation Details</a>
  {{ end }}
  {{ if eq $show_book_details "Yes" }}
    <a href="#book-details">Book Details</a>
  {{ end }}
  {{ if eq $show_tool_content "Yes" }}
    <a href="#tools">Tools</a>
  {{ end }}
</div>

{{ if eq $show_personal_details "Yes" }}
<h1 id="personal-details">Personal Details</h1>
<table>
<tr>
<th>S.No </th>
<th> Name of Entry </th>
<th> What is missing</th>
</tr>
{{ range $name, $taxonomy := $.Site.Taxonomies.hacker.ByCount -}}

  {{ $isimportant := "N" }}
  {{ $whatismissing := ""}}

  {{ $jpgpath := printf ".jpg" | printf "%s%s" .Name | printf "%s%s" "static/hacker/" |  printf "%s" }}
  {{ $pngpath := printf ".png" | printf "%s%s" .Name | printf "%s%s" "static/hacker/" |  printf "%s" }}
  {{ $jpegpath := printf ".jpeg" | printf "%s%s" .Name | printf "%s%s" "static/hacker/" |  printf "%s" }}
  {{ $jfifpath := printf ".jfif" | printf "%s%s" .Name | printf "%s%s" "static/hacker/" | printf "%s" }}
  {{ $photopath := "" }}
  {{ if fileExists $jpgpath }}
    {{ $photopath = "a" }}
  {{ else if fileExists $pngpath }}
    {{ $photopath = "b" }}
  {{ else if fileExists $jpegpath }}
    {{ $photopath = "c" }}
  {{ else if fileExists $jfifpath }}
    {{ $photopath = "d" }}
  {{ end }}

  {{- with $.Site.GetPage $taxonomy.Name -}}

    {{ if ( not .Params.twitter ) }}
      {{ if $whatismissing }}
        {{ $whatismissing = $whatismissing | printf "%s, Twitter" }}
      {{ else }}
        {{ $whatismissing = "Twitter" }}
      {{ end }}
    {{ end }}

    {{ if ( not .Params.linkedin ) }}
      {{ if $whatismissing }}
        {{ $whatismissing = $whatismissing | printf "%s, Linkedin" }}
      {{ else }}
        {{ $whatismissing = "Linkedin" }}
      {{ end }}
    {{ end }}

    {{/* if ( not .Params.home ) }}
      {{ if $whatismissing }}
        {{ $whatismissing = $whatismissing | printf "%s, Home" }}
      {{ else }}
        {{ $whatismissing = "Home" }}
      {{ end }}
    {{ end }}

    {{ if ( not .Params.github ) }}
      {{ if $whatismissing }}
        {{ $whatismissing = $whatismissing | printf "%s, Github" }}
      {{ else }}
        {{ $whatismissing = "Github" }}
      {{ end }}
    {{ end }}

    {{ if ( not .Params.gitlab ) }}
      {{ if $whatismissing }}
        {{ $whatismissing = $whatismissing | printf "%s, Gitlab" }}
      {{ else }}
        {{ $whatismissing = "Gitlab" }}
      {{ end }}
    {{ end }}

    {{ if ( not .Params.bitbucket ) }}
      {{ if $whatismissing }}
        {{ $whatismissing = $whatismissing | printf "%s, BitBucket" }}
      {{ else }}
       {{ $whatismissing = "BitBucket" }}
      {{ end }}
    {{ end */}}

    {{ if not $photopath }}
      {{ if $whatismissing }}
        {{ $whatismissing = $whatismissing | printf "%s, Photo" }}
      {{ else }}
        {{ $whatismissing = "Photo" }}
      {{ end }}
    {{ end }}

    {{ if not .Params.request_to_hide }}
      {{ if eq $aggressive_check "Yes" }}
        {{/* Aggressive check: Need both photo and at least one social media link */}}
        {{ if and (not $photopath) (and (not .Params.twitter) (not .Params.linkedin)) }}
          {{ $isimportant = "Y" }}
        {{ end }}
      {{ else }}
        {{/* Non-aggressive check: Need either photo or at least one social media link */}}
        {{ if and (not $photopath) (not .Params.twitter) (not .Params.linkedin) }}
          {{ $isimportant = "Y" }}
        {{ end }}
      {{ end }}
    {{ end }}

    {{ if and (eq $isimportant "Y") }}
      <tr>
      <td>{{ $count }}</td>
      <td><a href="{{ .Permalink }}" target="_blank">{{ .Name }}</a></td>
      <td>{{ $whatismissing }}</td>
      </tr>
      {{ $count = add $count 1 }}
    {{ end }}
  {{ end }}
{{ end }}
</table>
{{ end }}

{{ if eq $show_presentation_details "Yes" }}
<h1 id="presentation-details">Presentation Details</h1>

<h2 id="talks">Talks</h2>
<table>
<tr>
<th>S.No</th>
<th> Name of Entry </th>
<th> What is missing</th>
</tr>    
{{ $count := 1 }}
{{ range (where $pages "Type" "talk") }}
  {{ $isimportant := "N" }}
  {{ $whatismissing := ""}}

  {{ if (not .Params.presentation) }}
    {{ if $whatismissing }}
      {{ $whatismissing = $whatismissing | printf "%s, presentation" }}
    {{ else }}
      {{ $whatismissing = "presentation" }}
    {{ end }}
  {{ end }}

  {{ if (not .Params.conf_link) }}
    {{ if $whatismissing }}
      {{ $whatismissing = $whatismissing | printf "%s, Conference Link" }}
    {{ else }}
      {{ $whatismissing = "Conference Link" }}
    {{ end }}
  {{ end }}

  {{ if (not .Params.video) }}
    {{ if $whatismissing }}
      {{ $whatismissing = $whatismissing | printf "%s, Video" }}
    {{ else }}
      {{ $whatismissing = "Video" }}
    {{ end }}
  {{ end }}

  {{ if eq $aggressive_check "Yes" }}
    {{ if not .Params.presentation }}
      {{ $isimportant = "Y" }}
    {{ end }}
  {{ else }}
    {{ if and (not .Params.presentation) (not .Params.video) }}
      {{ $isimportant = "Y" }}
    {{ end }}
  {{ end }}

  {{ if eq $isimportant "Y" }}
    <tr>
    <td>{{ $count }}</td>
    <td><a href="{{ .Permalink }}" target="_blank">{{ .Date.Format "2006/01/02" }} : {{ .Params.conference | humanize | title  }} : {{ .Type | humanize | title  }} : {{ .Name | humanize | title  }}</a></td>
    <td>{{ $whatismissing }}</td>
    </tr>
    {{ $count = add $count 1 }}
  {{ end }}
{{ end }}
</table>

<h2 id="tool-demos">Tool Demos</h2>
<table>
<tr>
<th>S.No</th>
<th> Name of Entry </th>
<th> What is missing</th>
</tr>    
{{ $count := 1 }}
{{ range (where $pages "Type" "Tool Demo") }}
  {{ $isimportant := "N" }}
  {{ $whatismissing := ""}}

  {{ if (not .Params.presentation) }}
    {{ if $whatismissing }}
      {{ $whatismissing = $whatismissing | printf "%s, presentation" }}
    {{ else }}
      {{ $whatismissing = "presentation" }}
    {{ end }}
  {{ end }}

  {{ if (not .Params.conf_link) }}
    {{ if $whatismissing }}
      {{ $whatismissing = $whatismissing | printf "%s, Conference Link" }}
    {{ else }}
      {{ $whatismissing = "Conference Link" }}
    {{ end }}
  {{ end }}

  {{ if (not .Params.video) }}
    {{ if $whatismissing }}
      {{ $whatismissing = $whatismissing | printf "%s, Video" }}
    {{ else }}
      {{ $whatismissing = "Video" }}
    {{ end }}
  {{ end }}

  {{ if not .Params.source }}
    {{ if $whatismissing }}
      {{ $whatismissing = $whatismissing | printf "%s, Source Code" }}
    {{ else }}
      {{ $whatismissing = "Source Code" }}
    {{ end }}
    {{ $isimportant = "Y" }}
  {{ end }}

  {{ if eq $isimportant "Y" }}
    <tr>
    <td>{{ $count }}</td>
    <td><a href="{{ .Permalink }}" target="_blank">{{ .Date.Format "2006/01/02" }} : {{ .Params.conference | humanize | title  }} : {{ .Type | humanize | title  }} : {{ .Name | humanize | title  }}</a></td>
    <td>{{ $whatismissing }}</td>
    </tr>
    {{ $count = add $count 1 }}
  {{ end }}
{{ end }}
</table>
{{ end }}

{{ if eq $show_book_details "Yes" }}
<h1 id="book-details">Book Details</h1>
<table>
<tr>
<th>S.No</th>
<th> Name of Entry </th>
<th> What is missing</th>
</tr>
{{ $count := 1 }}
{{ range (where $pages "Type" "book") }}
  {{ $isimportant := "N" }}
  {{ $whatismissing := ""}}

  {{ if not .Params.amazon }}
    {{ $whatismissing = "Amazon Link" }}
    {{ $isimportant = "Y" }}
  {{ end }}

  {{ if eq $isimportant "Y" }}
    <tr>
    <td>{{ $count }}</td>
    <td><a href="{{ .Permalink }}" target="_blank">{{ .Title }}</a></td>
    <td>{{ $whatismissing }}</td>
    </tr>
    {{ $count = add $count 1 }}
  {{ end }}
{{ end }}
</table>
{{ end }}

{{ if eq $show_tool_content "Yes" }}
<h1 id="tools">Tools</h1>

<h2 id="tool-demos-section">Tool Demos</h2>
<table>
<tr>
<th>S.No</th>
<th> Name of Entry </th>
<th> What is missing</th>
</tr>    
{{ $count := 1 }}
{{ range (where $pages "Type" "Tool Demo") }}
  {{ $isimportant := "N" }}
  {{ $whatismissing := ""}}

  {{ if (not .Params.presentation) }}
    {{ if $whatismissing }}
      {{ $whatismissing = $whatismissing | printf "%s, presentation" }}
    {{ else }}
      {{ $whatismissing = "presentation" }}
    {{ end }}
  {{ end }}

  {{ if (not .Params.conf_link) }}
    {{ if $whatismissing }}
      {{ $whatismissing = $whatismissing | printf "%s, Conference Link" }}
    {{ else }}
      {{ $whatismissing = "Conference Link" }}
    {{ end }}
  {{ end }}

  {{ if (not .Params.video) }}
    {{ if $whatismissing }}
      {{ $whatismissing = $whatismissing | printf "%s, Video" }}
    {{ else }}
      {{ $whatismissing = "Video" }}
    {{ end }}
  {{ end }}

  {{ if not .Params.source }}
    {{ if $whatismissing }}
      {{ $whatismissing = $whatismissing | printf "%s, Source Code" }}
    {{ else }}
      {{ $whatismissing = "Source Code" }}
    {{ end }}
    {{ $isimportant = "Y" }}
  {{ end }}

  {{ if eq $isimportant "Y" }}
    <tr>
    <td>{{ $count }}</td>
    <td><a href="{{ .Permalink }}" target="_blank">{{ .Date.Format "2006/01/02" }} : {{ .Params.conference | humanize | title  }} : {{ .Type | humanize | title  }} : {{ .Name | humanize | title  }}</a></td>
    <td>{{ $whatismissing }}</td>
    </tr>
    {{ $count = add $count 1 }}
  {{ end }}
{{ end }}
</table>

<h2 id="tool-content">Tool Content</h2>
<table>
<tr>
<th>S.No</th>
<th> Name of Entry </th>
<th> What is missing</th>
</tr>
{{ $count := 1 }}
{{ with .Site.GetPage "section" "tool" }}
  {{ range .Pages }}
    {{ $isimportant := "N" }}
    {{ $whatismissing := ""}}
    
    {{/* Check for empty content */}}
    {{ $content := .Content | replaceRE "\\s+" "" }}
    {{ if eq $content "" }}
      {{ if $whatismissing }}
        {{ $whatismissing = $whatismissing | printf "%s, Content" }}
      {{ else }}
        {{ $whatismissing = "Content" }}
      {{ end }}
      {{ $isimportant = "Y" }}
    {{ end }}

    {{/* Check for missing links */}}
    {{ $has_links := false }}
    {{ if .Params.github }}
      {{ $has_links = true }}
    {{ end }}
    {{ if .Params.gitlab }}
      {{ $has_links = true }}
    {{ end }}
    {{ if .Params.bitbucket }}
      {{ $has_links = true }}
    {{ end }}
    {{ if .Params.download }}
      {{ $has_links = true }}
    {{ end }}
    {{ if .Params.home }}
      {{ $has_links = true }}
    {{ end }}

    {{ if not $has_links }}
      {{ if $whatismissing }}
        {{ $whatismissing = $whatismissing | printf "%s, Links (github/gitlab/bitbucket/download/home)" }}
      {{ else }}
        {{ $whatismissing = "Links (github/gitlab/bitbucket/download/home)" }}
      {{ end }}
      {{ $isimportant = "Y" }}
    {{ end }}

    {{ if eq $isimportant "Y" }}
      <tr>
      <td>{{ $count }}</td>
      <td><a href="{{ .Permalink }}" target="_blank">{{ .Title }}</a></td>
      <td>{{ $whatismissing }}</td>
      </tr>
      {{ $count = add $count 1 }}
    {{ end }}
  {{ end }}
{{ end }}
</table>
{{ end }}