{{ partial "header.html" . }}

{{ $hacker := .Data.Term }}

{{ $videoParams := slice }}
{{ $categoryCounts := dict }}
{{ $tools := slice }}
{{ $collaborators := dict }}

<!-- Extracting Useful data -->
{{ range .Pages }}
  <!-- Video playlist generation -->
  {{ if and .Params.video (in .Params.video "youtube.com") }}
    {{ range (split .Params.video " ") }}
      {{ $videoID := index (split . "?v=") 1 | default "" }}
      {{ if $videoID }}
        {{ $videoParams = $videoParams | append $videoID }}
      {{ end }}
    {{ end }}
  {{ end }}
  <!-- Session Type Count -->
  {{ $category := .Params.type }}
  {{ if $category }}
    {{ $categoryCounts = merge $categoryCounts (dict $category (add (index $categoryCounts $category | default 0) 1)) }}
  {{ end }}

  <!-- Tools Section -->

  {{ $tool := .Params.tool }}
  {{ if $tool }}
    {{ if eq (printf "%T" $tool) "string" }}
      {{ $tools = $tools | append (upper $tool) }}
    {{ else if eq (printf "%T" $tool) "[]string" }}
      {{ $tools = $tools | append (apply $tool "upper" ".") }}
    {{ end }}
  {{ end }}

  <!-- Collaborator Section -->

  {{ range .Params.hacker }}
    {{ $collab := . | lower }}
    {{ if and (ne $collab $hacker) (ne $collab "") }}
      {{ $collaborators = merge $collaborators (dict $collab (add (index $collaborators $collab | default 0) 1)) }}
    {{ end }}
  {{ end }}

{{ end }}







<center>
  <div class="card">
    {{- $imgBasePath := path.Join "static" "hacker" $hacker -}}
    {{- $extensions := slice ".jpg" ".png" ".jpeg" ".jfif" -}}
    {{- $photopath := "" -}}
    
    {{ range $ext := $extensions }}
      {{ if (fileExists (print $imgBasePath $ext)) }}
        {{ $photopath = print "/hacker/" $hacker $ext }}
        {{ break }}
      {{ end }}
    {{ end }}

    {{- if $photopath }}
      <img class="profilephoto" src="{{ $photopath }}" alt="Avatar">
    {{ end }}

    <div class="container">
      <h2><b>{{ .Title | markdownify | title }}</b></h2>
      <p>{{ partial "social.html" . }}</p>


      {{ if gt (len $videoParams) 0 }}
        <a href="https://www.youtube.com/watch_videos?video_ids={{ delimit $videoParams "," }}" target="_blank" rel="noreferrer noopener">Dynamic Video Playlist</a>
      {{ end }}
    </div>
  </div>
</center>


{{ if len $categoryCounts }}
  <hr />
  <b>Activities:</b>
  <i>{{ range $category, $count := $categoryCounts }}
    {{ $category | humanize | title }} - {{ $count }};
  {{ end }}</i>
{{ end }}


<!-- Deduplicate and Display Tools -->

{{- $uniqueTools := slice -}}
{{- range $tools -}}
  {{- if not (in $uniqueTools .) -}}
    {{- $uniqueTools = $uniqueTools | append ( upper .) -}}
  {{- end -}}
{{- end -}}

{{ if len $uniqueTools }}
  <hr />
  <b>Tools Contributed or Authored:&nbsp;</b>
  {{ range $uniqueTools }}
    <b><a href="/tool/{{ . | urlize }}">{{ . }}</a></b>&nbsp;
  {{ end }}
{{ end }}


<!-- Filter and display common collaborators with more than 2 contributions -->
{{ $commonCollaborators := slice }}
{{ range $name, $count := $collaborators }}
  {{ if gt $count 2 }}
    {{ $commonCollaborators = $commonCollaborators | append (dict "name" $name "count" $count) }}
  {{ end }}
{{ end }}

{{ if gt (len $commonCollaborators) 0 }}
<hr />
<b>Common Collaborators:</b>
    {{ range $name, $count := (sort $commonCollaborators "count" "desc" ) }}
        <a href="/hacker/{{ .name }}"><b>{{ .name | humanize | title }}({{ .count }})</b></a>;
    {{ end }}
{{ end }}

<hr />  
<h1>Hacktivity</h1>
<hr />
{{ range .Pages.GroupByDate "2006" }}
  <center class="year-key"><b>---- {{ .Key }} ----</b></center>
  <ul>
    {{ range .Pages }}
      <li>
        <span class="date">{{ .Date.Format "2006/01/02" }}</span>
        <a href="/type/{{ .Params.type | urlize }}/">{{ .Params.type | humanize | title }}</a> :
        <a href="/{{ cond .Params.award (printf "award/%s" .Params.award) (printf "conference/%s" .Params.conference) | lower | urlize }}">{{ cond .Params.award .Params.award .Params.conference | humanize | title }}</a>
        : <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a> -
        {{ range .Params.hacker }}<a href="/hacker/{{ . }}/">{{ . | humanize | title }}</a> {{ end }}
        {{ range .Params.morehackers }}<u>{{ . | humanize | title }}</u>{{ end }}
        {{ $paramValue := .Params }}
        {{ range (slice "presentation" "whitepaper" "Source" "video") }}
          {{ $type := . }}
          {{ $val := index $paramValue . }}
          {{ with $val }}
            <a href="{{ . }}" target="_blank" rel="noreferrer noopener nofollow">
              <img src="/fontawesome/{{ $type }}.svg" style="width:15px; padding-left:2px;">
            </a>
          {{ end }}
        {{ end }}

      </li>
    {{ end }}
  </ul>
{{ end }}

{{ partial "footer.html" . }}
