{{ partial "header.html" . }}

<h1>Focus Areas</h1>

<p>Explore cybersecurity content organized by major focus areas. Click any focus area to see related content.</p>

{{ $fontUnit := "rem" }}
{{ $largestFontSize := 2.7 }}
{{ $smallestFontSize := 1.5 }}
{{ $fontSpread := sub $largestFontSize $smallestFontSize }}

{{ $focus_area_data := slice }}
{{ range .Site.Sections.focusarea.Sections }}
    {{ $related_tags := .Params.related_tags }}
    {{ $matching_pages := slice }}
    {{ if $related_tags }}
        {{ range $tag := $related_tags }}
            {{ if isset $.Site.Taxonomies.tag $tag }}
                {{ $matching_pages = $matching_pages | append ($.Site.Taxonomies.tag.Get $tag).Pages }}
            {{ end }}
        {{ end }}
        {{ $matching_pages = $matching_pages | uniq }}
        {{ $count := len $matching_pages }}
        {{ $focus_area_data = $focus_area_data | append (dict "Name" .Name "Title" .Title "Count" $count "RelPermalink" .RelPermalink) }}
    {{ else }}
        {{ $focus_area_data = $focus_area_data | append (dict "Name" .Name "Title" .Title "Count" 0 "RelPermalink" .RelPermalink) }}
    {{ end }}
{{ end }}

{{ $focus_area_data = sort $focus_area_data "Count" "desc" }}

{{ $max := 1 }}
{{ $min := 0 }}
{{ range $focus_area_data }}
    {{ if gt .Count 0 }}
        {{ if gt .Count $max }}
            {{ $max = .Count }}
        {{ end }}
        {{ if eq $min 0 }}
            {{ $min = .Count }}
        {{ else if lt .Count $min }}
            {{ $min = .Count }}
        {{ end }}
    {{ end }}
{{ end }}
{{ $spread := sub $max $min }}
{{ if eq $spread 0 }}
    {{ $spread = 1 }}
{{ end }}
{{ $fontStep := div $fontSpread $spread }}

<div id="focusarea-cloud" style="padding: 5px 15px; line-height: 1.5; word-spacing: 10px">
    {{ range $focus_area_data }}
        {{ $count := .Count }}
        {{ if gt $count 0 }}
            {{ $currentFontSize := (add $smallestFontSize (mul (sub $count $min) $fontStep) ) }}
            <a href="{{ .RelPermalink }}" style="font-size:{{$currentFontSize}}{{$fontUnit}}">{{ .Title | humanize | title }}{{ if gt ($count) 1 }}<sub>({{ $count }})</sub>{{end}}</a>&nbsp;
        {{ else }}
            <a href="{{ .RelPermalink }}" style="font-size:{{$smallestFontSize}}{{$fontUnit}};color:#bbb">{{ .Title | humanize | title }}</a>&nbsp;
        {{ end }}
    {{ end }}
</div>

{{ partial "footer.html" . }} 