  {{- $socialLinks := dict
  "amazon" "/fontawesome/amazon.svg"
  "flipkart" "/fontawesome/flipkart.svg"
  "packtpub" "/fontawesome/packtpub.svg"
-}}

  {{- $protocols := slice "http://" "https://" -}}

  {{- range $key, $value := $socialLinks -}}
    {{- with index $.Params $key -}} <!-- Note the use of $ to access the root context -->
      {{- $url := . -}}
      {{- $hasProtocol := false -}}
      {{- range $protocols -}}
        {{- if strings.HasPrefix $url . -}}
          {{- $hasProtocol = true -}}
          {{- break -}}
        {{- end -}}
      {{- end -}}
      {{- if not $hasProtocol -}}
        {{- $url = print "https://" $url -}}
      {{- end -}}
      <a href="{{ $url }}" target="_blank" rel="noreferrer noopener"><img src="{{ $value }}" class="icons"></a>
    {{- end -}}
  {{- end -}}