<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{if not .IsHome }}
      <title>{{ .Title | title }} | {{ .Site.Title }}</title>
    {{ else }}
      <title>{{ .Site.Title }}</title>
    {{end}}
    <link rel="stylesheet" href="{{ "/css/style.css" | relURL }}?{{ now.Unix }}" />
    <link rel="stylesheet" href="{{ "/css/fonts.css" | relURL }}?{{ now.Unix }}" />
    {{ partial "head_custom.html" . }}
  </head>

  <body>
<!--     <pre>
      BundleType: {{ debug.Dump .BundleType }}
      Kind: {{ debug.Dump .Kind }}
      Layout: {{ debug.Dump .Layout }}
      Section: {{ debug.Dump .Section }}
    </pre> -->
    <a href="{{ .Site.BaseURL }}"><h1>{{ .Site.Title }}</h1></a>
    <nav>
    <ul class="menu">
      {{ range .Site.Menus.main }}
      &nbsp;<li><a href="{{ .URL | relURL }}">&nbsp;&nbsp;{{ .Name }}&nbsp;&nbsp;</a></li>&nbsp;
      {{ end }}
    </ul>
    <hr/>
    </nav>

    {{ if .Draft }}
    <div class="notice warning" style="margin: 20px 0;">
        <p class="notice-title">
            <span class="icon-notice baseline">
                {{ "static/warning.svg" | readFile | safeHTML }}
            </span>
            Draft Entry
        </p>
      {{ if .Params.reason }}
      <p><strong>This page is Draft because:</strong> {{ .Params.reason | markdownify }}</p>
      {{ else }}
      <p><strong>This page is Draft</strong></p>
      {{ end }}
    </div>
    {{ end }}