{{/*
  Share Partial - Pure URL-based social sharing (No JavaScript)
  
  Configuration (in config.toml under [params.share]):
    enabled = true                              # Enable/disable share links globally
    services = ["twitter", "linkedin", "email"] # Which services to show
  
  Per-page override (in frontmatter):
    share_enabled: false                        # Disable on this page
    share_services: ["twitter", "email"]        # Override services for this page
  
  Usage in templates:
    {{ partial "share.html" . }}
  Renders as a share-box (positioned top-right by CSS) with share icon + service buttons.
*/}}

{{- $shareConfig := .Site.Params.share | default dict -}}
{{- $globalEnabled := $shareConfig.enabled | default false -}}
{{- $globalServices := $shareConfig.services | default (slice "twitter" "linkedin" "email") -}}

{{/* Per-page overrides */}}
{{- $pageEnabled := .Params.share_enabled -}}
{{- $pageServices := .Params.share_services -}}

{{/* Determine final settings - page overrides site config */}}
{{- $enabled := cond (isset .Params "share_enabled") $pageEnabled $globalEnabled -}}
{{- $services := cond (isset .Params "share_services") $pageServices $globalServices -}}

{{- if $enabled -}}
  {{- $shareData := .Site.Data.shareservices | default dict -}}
  {{- $pageURL := .Permalink -}}
  {{- $pageTitle := .Title -}}
  
  <div class="share-box">
    <span class="share-box-icon" aria-hidden="true">
      <img src="/fontawesome/share.svg" alt="" class="share-box-icon-img">
    </span>
    <div class="share-buttons">
      {{- range $services -}}
        {{- $serviceKey := . -}}
        {{- $service := index $shareData $serviceKey -}}
        {{- if $service -}}
          {{- $shareURL := $service.url -}}
          {{- $shareURL = replace $shareURL "{url}" ($pageURL | urlquery) -}}
          {{- $shareURL = replace $shareURL "{title}" ($pageTitle | urlquery) -}}
          {{- $iconFile := printf "%s.svg" $service.icon -}}
          {{- $iconPath := printf "/fontawesome/%s" $iconFile -}}
          {{- $iconExists := false -}}
          {{/* Check project static folder first, then theme static folder */}}
          {{- if fileExists (printf "static/fontawesome/%s" $iconFile) -}}
            {{- $iconExists = true -}}
          {{- else if fileExists (printf "themes/hackingarchives-theme/static/fontawesome/%s" $iconFile) -}}
            {{- $iconExists = true -}}
          {{- end -}}
          <a href="{{ $shareURL }}" 
             class="share-link share-{{ $serviceKey }}" 
             target="_blank" 
             rel="noopener noreferrer nofollow"
             title="Share on {{ $service.name }}">
            {{- if $iconExists -}}
              <img src="{{ $iconPath }}" alt="{{ $service.name }}" class="share-icon">
            {{- else -}}
              <span class="share-icon-text">{{ $service.name }}</span>
            {{- end -}}
          </a>
        {{- end -}}
      {{- end -}}
    </div>
  </div>
{{- end -}}
