{{ partial "header.html" . }}

{{if not .IsHome }}
<h1>{{ .Title | markdownify | humanize | title }}</h1>
{{ end }}

{{ .Content  }}

<div><u>This site currently lists <b>{{ len (where .Site.RegularPages "Section" "!=" "") }}</b> entries by <b>{{ len ($.Site.Taxonomies.hacker) }}</b> unique individuals</u></div>

<div>
    As of Now I have  details from : 
<br />
<b>Conferences</b>: <a href="/conference/">View all {{ len $.Site.Taxonomies.conference }} conferences</a> with {{ len (where .Site.RegularPages "Section" "eq" "hacker") }} talks tracked.<br />
<b>Awards</b>: {{ range $name, $taxonomy := $.Site.Taxonomies.award.ByCount }}
    <a href="/award/{{ $taxonomy.Name | urlize }}">{{ $taxonomy.Name | humanize | title }} ({{ len $taxonomy.Pages }})</a>
{{- end }}<br /><br />
Refer <a href="/roadmap">roadmap</a> for further plans.
</div>

<h1><u>Hackers of India</u></h1>

{{ if not (eq (len $.Site.Taxonomies.hacker) 0) }}
    {{ $fontUnit := "rem" }}
    {{ $largestFontSize := 2.7 }}
    {{ $smallestFontSize := 1.5 }}
    {{ $fontSpread := sub $largestFontSize $smallestFontSize }}
    {{ $max := add (len (index $.Site.Taxonomies.hacker.ByCount 0).Pages) 1 }}
    {{ $min := len (index $.Site.Taxonomies.hacker.ByCount.Reverse 0).Pages }}
    {{ $spread := sub $max $min }}
    {{ $fontStep := div $fontSpread $spread }}

    <div id="tag-cloud">
        {{ range $name, $taxonomy := $.Site.Taxonomies.hacker.ByCount -}}
            {{- $currentTagCount := len $taxonomy.Pages -}}
            {{- $currentFontSize := (add $smallestFontSize (mul (sub $currentTagCount $min) $fontStep) ) -}}
            {{- $count := len $taxonomy.Pages -}}
            {{- $weigth := div (sub (math.Log $count) (math.Log $min)) (sub (math.Log $max) (math.Log $min)) -}}
            {{- $currentFontSize := (add $smallestFontSize (mul (sub $largestFontSize $smallestFontSize) $weigth) ) -}}
            <!--Current font size: {{$currentFontSize}}-->
            <a href="{{ "/hacker/" | relLangURL }}{{ $taxonomy.Name | urlize }}/" style="font-size:{{$currentFontSize}}{{$fontUnit}};">
                {{- with $taxonomy.Page -}}
                  {{- .Title -}}
                {{- else -}}
                  {{- $taxonomy.Name -}}
                {{- end -}}
                {{- if gt ($count) 1 -}}<sub>({{ $count }})</sub>{{- end -}}
              </a>
        {{- end }}
    </div>
{{ end }}


{{ partial "footer.html" . }}
