{{ partial "header.html" . }}

{{if not .IsHome }}


<center>
  <div class="card">
  {{ $term := .Data.Term }}
  {{ $photopath := "" }}
  {{ range $ext := slice ".jpg" ".png" ".jpeg" ".jfif" ".svg" }}
    {{ with resources.Get (path.Join "conference" (printf "%s%s" $term $ext)) }}
      {{ $photopath = .RelPermalink }}
      {{ break }}
    {{ end }}
  {{ end }}
  {{ if $photopath }}
    <img class="confphoto no-invert{{ with .Params.logo_bg }} logo-bg-{{ . }}{{ end }}" src="{{ $photopath }}" alt="{{ .Title }} logo">
  {{ end }}
  <div class="confcontainer">
    <h2><b>{{ .Title | markdownify | humanize | title }}</b></h2>

      <p>  
{{ partial "social.html" . }}
    </p>
  </div>
</div>
</center>
{{ end }}
<div class="confcontent">
{{ .Content  }}
</div>
<div class="listing">
  <h2>List of Sessions</h2>
  <hr/>
  {{ partial "timeline-view.html" (dict "Pages" .Pages "Context" . "Style" "simple" "ShowConference" false "ShowHackers" true "ShowType" true) }}
</div>
{{ partial "footer.html" . }}
